.home p{
    color: rgb(66, 12, 215);
    font-size: 40px;
    font-weight: 700;
    display: grid;;
    align-content: center;
    justify-items: center;
 

}
.slider-con{
    height: 50%;
    width: 100%;
}
