.nav{
    background-color:#D9D9D9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.right-side ul{
    
    list-style-type: none;
    display: flex;
    color: black;
}
.right-side ul li a {
    padding:0 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
}


#img{
    width: 70px;
    height: 70px;
    flex:50%;
}

@media screen and (max-width: 768px){
.nav .right-side{
    display: none;
}

    
}