.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: auto;
}
.recip{
    width: 60%;
   
}
.r-ingred{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ing{
    position: absolute;
    left: 40px;

}